header{
    position: relative;
img{
    transform: rotate(46deg) translateY(45px) translateX(-30px);
    position: absolute;
    z-index: -25;
    top: 0px;
    right: 0px;
    opacity: 0.8;

}
h1{
    color: #3c5485;
    font-size: 48px;
    font-weight: 500;
}
}